:root {
    --header-bg: #f2f2f2;
    --blue-c: #86cddf;
    --dark-blue: #346473;
    --title-c: #111;/*text color*/
    --footer-bg: #333333;
    --default-c: #333;
    --link-c: #b8b4dd;
    --hover-link-c: #d6d4ec;
    --yellow-c: #f4ef75;
    --soft-yellow: #f7f39a;
    --main-bg: #f2f2f2;
    --grey-c: grey;
}
/*Box*/
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.btw-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-c {
    align-items: center;
}
.just-c {
    justify-content: center;
}
.d-grid {
    display: grid;
}
.wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex: 1;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-50 {
    gap: 50px;
}
/* Padding */
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-40 {
    padding: 40px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-50 {
    padding-top: 50px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-40 {
    padding-right: 40px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-40 {
    padding-left: 40px;
}
/* margin */
.auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-20 {
    margin-top: 20px;
}
.mt-74 {
    margin-top: 74px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-10 {
    margin-left: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
/* font */
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}
.fs-40 {
    font-size: 40px;
}
.fs-50 {
    font-size: 50px;
}
.fs-80 {
    font-size: 80px;
}
.normal {
    font-weight: normal;
}
.lighter {
    font-weight: lighter;
}
.fw-600 {
    font-weight: 600;
}
.bold {
    font-weight: bold;
}

.text-c {
    text-align: center;
}
.line16 {
    line-height: 1.6;
}
.letter-s {
    letter-spacing: 3px;
}
/* colors */
.white-c {
    color: white;
}
.grey-c {
    color: var(--grey-c);
}
.default-c {
    color: var(--default-c);
}
.yellow-c {
    color: var(--yellow-c);
}
.blue-c {
    color: var(--blue-c);
}
.title-c {
    color: var(--title-c);
}
.link-c {
    color: var(--link-c);
}
/* Background */
.main-bg {
    background-color: var(--main-bg);
}
.bg-white {
    background-color: white;
}
.bg-dark-blue {
    background-color: var(--dark-blue);
}
.header-bg {
    background-color: var(--header-bg);
}
.bg-soft-yellow {
    background-color: var(--soft-yellow);
}
.bg-yellow {
    background-color: var(--yellow-c);
}
.bullet-bg {
    background-color: var(--link-c);
}
.footer-bg {
    background-color: var(--footer-bg);
}
/* sizes */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.h-fit {
    height: fit-content;
}
.plate-size {
    width: 150px;
    height: 150px;
}
.bullet-size {
    width: 15px;
    height: 15px;
}
/* position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.p-fixed {
    position: fixed;
}
/* transition */
.trans {
    transition: .3s;
}
/* border */
.rad-6 {
    border-radius: 6px;
}
.rad-20 {
    border-radius: 20px;
}
.rad-50 {
    border-radius: 50%;
}
.out-n {
    outline: none;
}
.border-n {
    border: none;
}
.border-grey {
    border: 1px solid var(--grey-c);
}
.light-shadow {
    box-shadow: 0 0 5px #eee;
}
/* helper classes */
.pointer {
    cursor: pointer;
}